---
import Icon from "../molecules/Icon.astro";

interface Props {
  href?: string;
  github?: string;
  alt: string;
  image: string | null;
  title: string;
  partner?: boolean;
}

const { href, github, image, title, alt, partner } = Astro.props;

const Icons = [
  {
    name: "GitHub",
    size: "size-8",
  },
  {
    name: "Url",
    size: "size-8",
  },
];

const card =
  "flex flex-col items-center w-fit max-w-[300px] border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 transform transition-transform duration-300 ease-in-out hover:scale-105 dark:hover:bg-gray-700";

const typeClasses = partner;
---

{
  partner ? (
    <a href={href} target="_blank" class={card}>
      {image ? (
        <img class="object-cover w-full rounded-lg" src={image} alt={alt} />
      ) : (
        <div class="object-cover w-[298px] h-[142px] rounded-lg bg-gray-300 dark:bg-gray-700" />
      )}
      <div class="flex flex-col justify-center p-2 lg:p-4 leading-normal">
        <h5 class="mb-2 text-xl lg:text-2xl font-bold tracking-tight text-blue-900 dark:text-blue-200">
          {title}
        </h5>
      </div>
    </a>
  ) : (
    <div class={card}>
      {image ? (
        <img class="object-cover w-full rounded-lg" src={image} alt={alt} />
      ) : (
        <div class="object-cover w-[298px] h-[142px] rounded-lg bg-gray-300 dark:bg-gray-700" />
      )}
      <div class="flex flex-col items-center p-2 lg:p-4 leading-normal">
        <h5 class="mb-2 text-xl lg:text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          {title}
        </h5>
        <div>
          <div class="flex flex-row gap-10 w-fit">
            {Icons.map((icon) => (
              <a href={icon.name === "GitHub" ? github : href} target="_blank">
                <Icon {...icon} />
              </a>
            ))}
          </div>
        </div>
      </div>
    </div>
  )
}

<script></script>
